.Header{
    display: flex;
    
}

.Icon{
    width: 200px;
    height: 100px;
    background-color: aquamarine;
}

.Menue{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #508AA8;
    font-size: 20px;
    color: black;
    list-style-type: none;
    width: 1340px;
    margin: 0%;
    padding: 0%;
    padding-right: 50px;
    padding-left: 50px;
}

.Menue :hover{
    cursor: grabbing;
    color: orange;
}

.ShowBoxes{
    width: 400px;
    height: 200px;
    border-radius: 5px;
    /*background-color: blue;*/
    /*border-color: black;*/
    border-style: outset;
    margin: 20px;
    padding: 15px;
    
}

.ShowBox{
    width: 100%;
    display: grid;
    /*grid-template-columns: repeat(3,1fr);*/
}


.ShowBox :hover {
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Schatten hinzufügen */
    transform: scale(1.02); 
    transition: transform 0.3s;
  }

.ShowBox ul {
    pointer-events: none;
}

.ShowBoxImg{
    width: 100px;
    height: 100px;
}

.ShowBoxImg {
    width: 70%;
    height: 50%;
    object-fit: cover;
    border-radius: 20px; /* Runde Ecken für Bilder */
    pointer-events: none;
  }

.HeaderTitles{
    
}

.HeaderLayout{
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    margin: 50px;
    border-top: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
}

.HeaderName{
    pointer-events: none;
}

.NameOfHeader{
    
}

  