.Header{
    display: flex;
    
}

.Icon{
    width: 200px;
    height: 100px;
    background-color: aquamarine;
}

.Menue{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #508AA8;
    font-size: 20px;
    color: black;
    list-style-type: none;
    width: 1340px;
    margin: 0%;
    padding: 0%;
    padding-right: 50px;
    padding-left: 50px;
}

.Menue :hover{
    cursor: grabbing;
    color: orange;
}

.ShowBoxes{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: blue;
    margin: 20px;
    
}

.ShowBox{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}