body {
    margin: 0;

}

.Header {
    background-color: black;
    width: 1wv;
    height: 150px;
    position: relative;
}

.ImgOfHeader {
    position: absolute;
    z-index: 1;
    max-height: 150px;
    max-width: 200px;
}

.OptionMenue {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 100px;
    margin-left: 5%;
    color: white;
}

.OptionMenue :hover {
    cursor: pointer;
    color: red;
    opacity: 1;
    font-size: 20px;
    transition: 0.5s;
}

.Autor {
    pointer-events: none;
}

.Date {
    pointer-events: none;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
} /*Desginänderung noch in Betracht ziehen*/

.table-container {
    display: grid;
    gap: 8px;
    margin-top: 15px;
}

.table-row {
    display: grid;
    grid-template-columns: 2fr repeat(7, 1fr);
    gap: 8px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.table-header {
    font-weight: bold;
}

.team-info {
    display: flex;
    align-items: center;

}

.team-name {
    margin-left: 10px;
}

.team-match{
    /*etwailige Änderung in Betracht ziehen*/
}